name: cloudflared-tunnel
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Config Pem And Key
        run: |
          mkdir secrets
          cd secrets
          echo '${{ secrets.PEM }}' > server.pem
          echo '${{ secrets.KEY }}' > server.key
      - name: Install Nginx
        run: |
          wget https://nginx.org/download/nginx-1.20.2.tar.gz
          tar zxvf nginx-1.20.2.tar.gz
          cd nginx-1.20.2
          ./configure --prefix=nginx --with-http_stub_status_module --with-http_ssl_module
          make
          make install
          cd nginx/conf
          echo '#user  nobody;
          worker_processes  1;
          events {
              worker_connections  1024;
          }
          http {
              include       mime.types;
              default_type  application/octet-stream;
              sendfile        on;
              keepalive_timeout  65;
              server {
                  listen       80;
                  server_name  localhost;
                  location / {
                      root   html;
                      index  index.html index.htm;
                  }
                  error_page   500 502 503 504  /50x.html;
                  location = /50x.html {
                      root   html;
                  }
              }
              server {
                  listen       443 ssl;
                  server_name  127.0.0.1;
                  ssl_certificate /home/runner/work/temp-proxy/temp-proxy/secrets/server.pem;
                  ssl_certificate_key /home/runner/work/temp-proxy/temp-proxy/secrets/server.key;
                  location /temp-node {
                      proxy_redirect off;
                      proxy_pass http://127.0.0.1:16823;
                      proxy_http_version 1.1;
                      proxy_set_header Upgrade $http_upgrade;
                      proxy_set_header Connection "upgrade";
                      proxy_set_header Host $http_host;
                      proxy_set_header X-Real-IP $remote_addr;
                      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                      proxy_connect_timeout 60s;
                      proxy_read_timeout 86400s;
                      proxy_send_timeout 60s;
                  }
              }
          }' > ./nginx.conf
      - name: Test
        run: |
          cd nginx-1.20.2/nginx
          ls
          ./sbin/nginx -t
#       - name: Install V2ray
#         run: |
#           wget https://github.com/v2fly/v2ray-core/releases/download/v4.44.0/v2ray-linux-64.zip
#           unzip -o v2ray-linux-64.zip -d v2ray-linux-64/
#           cd v2ray-linux-64
#           chmod +x v2ray
#           echo '${{ secrets.CONFIG }}' > config.json
#       - name: Run V2Ray And Cloudflared-Tunnel
#         run: |
#           ./v2ray-linux-64/v2ray & docker run cloudflare/cloudflared:2022.4.1 tunnel --no-autoupdate run --token ${{ secrets.TOKEN }}
