name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get install -y criu
          sudo docker run -p 80:80 nginx &
          sudo echo $! > pid.out
          sudo sleep 30
          mkdir imgdir
          sudo criu dump -D imgdir -j --ext-unix-sk -t $(cat pid.out)
          cd imgdir
          ls
