name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo echo '{ "cgroup-parent": "/actions_job", "experimental": true }' > /etc/docker/daemon.json
          sudo apt-get install -y criu
          sudo docker run -p 80:80 nginx &
          sudo sleep 60
          sudo docker checkpoint create test
          sudo docker checkpoint create ls
          
