name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get install -y gcc
          sudo apt-get install -y criu
          echo '#include<stdio.h>
          #include<unistd.h>
          int main() {
            int i = 1;
            while(i) {
              printf("%d\n", i++);
              sleep(1);
            }
            return 0;
          }' > test.c
          sudo gcc test.c -o test
          sudo ./test &
          sudo echo $! > pid.out
          sudo sleep 5
          mkdir imgdir
          sudo criu dump -D imgdir --shell-job --ext-unix-sk -t $(cat pid.out)
          cd imgdir
          ls
