name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo apt-get install -y criu
          sudo docker run -p 80:80 nginx "i = 1; while do sleep 1; date; done" &
          sudo ps -aux
#       sudo sleep 60
#       sudo criu jump 
