name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          export DOCKER_CLI_EXPERIMENTAL=enabled
          sudo apt-get install -y criu
          sudo docker version
          sudo docker run -p 80:80 nginx &
          sudo sleep 60
          sudo docker checkpoint create test
          sudo docker checkpoint create l
