name: criu
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo docker version
#       export DOCKER_CLI_EXPERIMENTAL=enabled
#       sudo systemctl restart docker
#       sudo apt-get install -y criu
#       sudo docker run -p 80:80 nginx &
#       sudo sleep 60
#       sudo docker checkpoint create test
#       sudo docker checkpoint create l
