name: CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          wget https://install.direct/go.sh
          sudo bash go.sh
          sudo systemctl start v2ray
