name: CI
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          wget https://github.com/v2fly/v2ray-core/releases/download/v4.44.0/v2ray-linux-64.zip
          unzip -o v2ray-linux-64.zip -d v2ray-linux-64/
          cd v2ray-linux-64
          chmod +x v2ray
      - run: |
          cd v2ray-linux-64
          ./v2ray
