name: temp-proxy
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Certificate
        run: |
          mkdir openssl
          cd openssl
          openssl genrsa -out server.key 1024
          openssl req -new -x509 -days 3650 -key server.key -out server.crt -subj "/C=US/ST=Utah/L=Lehi/O=CN, Inc./OU=IT/CN=sh1.k9s.run"
      - name: Download Nginx
        run: |
          wget https://nginx.org/download/nginx-1.20.2.tar.gz
          tar zxvf nginx-1.20.2.tar.gz
          cd nginx-1.20.2
          ./configure --prefix=nginx --with-http_stub_status_module --with-http_ssl_module
          make
          make install
          echo '#user  nobody;
          worker_processes  1;
          events {
              worker_connections  1024;
          }
          http {
              include       mime.types;
              default_type  application/octet-stream;
              sendfile        on;
              keepalive_timeout  65;
              server {
                  listen       443 ssl;
                  server_name  sh1.k9s.run;
                  ssl_certificate ../../openssl/server.crt;
                  ssl_certificate_key ../../openssl/server.key;
                  location /temp-node {
                      proxy_redirect off;
                      proxy_pass http://127.0.0.1:16823;
                      proxy_http_version 1.1;
                      proxy_set_header Upgrade $http_upgrade;
                      proxy_set_header Connection "upgrade";
                      proxy_set_header Host $http_host;
                      proxy_set_header X-Real-IP $remote_addr;
                      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                      proxy_connect_timeout 60s;
                      proxy_read_timeout 86400s;
                      proxy_send_timeout 60s;
                }
            }
          }'> ./nginx/conf/nginx.conf
          ./nginx/sbin/nginx -t
      - name: Download V2ray
        run: |
          wget https://github.com/v2fly/v2ray-core/releases/download/v4.44.0/v2ray-linux-64.zip
          unzip -o v2ray-linux-64.zip -d v2ray-linux-64/
          cd v2ray-linux-64
          chmod +x v2ray
          echo '${{ secrets.CONFIG }}' > config.json
      - name: Download SuiDao
        run: |
          wget https://github.com/FastTunnel/SuiDao/releases/download/2.0.0/SuiDao.Client.linux-x64.tar.gz
          tar -xvzf SuiDao.Client.linux-x64.tar.gz
          cd SuiDao.Client.linux-x64
          chmod +x SuiDao.Client
          echo '${{ secrets.ACCESSKEY }}' > .key
      - name: Run V2Ray | Nginx | SuiDao
        run: |
          ./v2ray-linux-64/v2ray & ./nginx/sbin/nginx & ./SuiDao.Client.linux-x64/SuiDao.Client
