name: ssh
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          sudo wget https://github.com/cloudflare/cloudflared/releases/latest/download/cloudflared-linux-amd64.deb
          sudo dpkg -i cloudflared-linux-amd64.deb
          echo -e "123456\n123456" | sudo passwd "root"
          cloudflared service install ${{ secrets.SSH_TOKEN }}
          tail -f /var/log/alternatives.log
