name: test
on:
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.2
        with:
          repository: xHossein/PyPasser
      - name: Setup Python
        uses: actions/setup-python@v3.1.2
      - run: |
          pip install PyPasser
          python3 ./examples/reCaptchaV2/demo.py
