name: test
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - run: |
          docker run -p 80:80 nginx &
          sleep 60
          sudo curl localhost:80
          sleep 20
          sudo curl localhost:80
